@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

html {
  font-family: "Ubuntu";
  font-size: 1.1em;
}

body {
  background-image: url(https://images.unsplash.com/photo-1613169620329-6785c004d900?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNTU2OTM5NA&ixlib=rb-1.2.1&q=85);
  background-size: cover;
  height: calc(100vh - 30px);
  padding-top: 30px;
}

#seletor {
  display: grid;
  grid-template-columns: repeat(auto-fill, 355px);
  max-width: 1065px;
  margin: auto;
  justify-content: center;
}

fieldset {
  display: block;
  background-color: #a3d4ebd5;
  border-radius: 8px;
  border: 3px solid rgba(0, 0, 0, 0.479);
}

fieldset legend {
  color: rgba(0, 0, 0, 0.931);
  font-weight: 500;
  border-radius: 8px;
  border: 3px solid rgba(0, 0, 0, 0.479);
  padding: 2px 5px 3px;
  background-color: #76d4ff;
}

#opcão label:hover {
  font-weight: 500;
}

#valor1,
#valor2,
textarea {
  font-size: 1.1em;
  box-sizing: border-box;
  font-family: "Ubuntu";
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0.479);
  background-color: #ffffff78;
  border-radius: 8px;
  padding: 5px;
  resize: none;
}

#valor2:disabled {
  background-color: rgba(255, 0, 0, 0.157);
}

button {
  font-size: 1.1em;
  font-family: "Ubuntu";
  font-weight: 500;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0.479);
  border-radius: 8px;
  padding: 5px;
  margin-top: 15px;
  background-color: #a3ebb1;
  transition: 0.1s;
}

button:hover {
  background-color: #18a558;
  color: white;
}

button:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.493);
  transition: 0.1ms;
}

#opcão,
#valores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
